.box{
    min-height: 200px;
    max-height: 330px;
    min-width: 200px;
    max-height: 330px;
    background-color: #F7F7F7;
    margin-left: 200px;
}

.box2{
    min-height: 200px;
    max-height: 330px;
    min-width: 200px;
    max-height: 330px;
    background-color: #F7F7F7;
    margin-left: 350px;
}